<h1>HomePage</h1>

<h3> Objects </h3>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<h3> Create a New Object </h3>

<%= link_to "New Article", new_article_path %>

<%# 

Syntax: 

<%= link_to "Text", "path" %>
